header {
    /* background-color: rgba(255, 255, 255, 0.623); /* imagen de fondo*/
     color: rgb(247, 7, 7); /* color de fondo */ 
 }
 
 

 .class1 {
    display: flex;
     background-color: rgba(0, 0, 0, 0.692);;
     color: rgb(255, 254, 254);
     font-family: "Bebas Neue"; /* ingreso el nombre de la fuente que importe de google fonts */
     width: auto;
     height: auto;
     padding: 20px;
     margin: 10px;  /* si pongo 0 auto lo que hace es centrarlo en la pagina */ 
     align-content: center;
     background-position: center center;
     text-align: center;
     align-items: center;
     justify-content: center;
     }

.apto{
  background-color: rgba(190, 37, 37, 0.692);
  padding: 10px;
  margin: 10px;
}

 #boton{
     display: inline-block;
     padding: 11px 45px;
     background-color: rgb(223, 17, 17);
     color: rgb(255, 255, 255);
     font-size: 18px;
     background-position: center;
 }
 .boton{
    display: inline-block;
    padding: 11px 45px;
    background-color: rgb(223, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 18px;
    background-position: center;
}


  